<h2>הוספת שיעור חדש</h2>
<form [formGroup]="myForm" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>כותרת השיעור</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>תוכן השיעור</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">שמור</button>
    <button mat-raised-button color="warn" type="button" (click)="close()">ביטול</button>
  </div>
</form>

