.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }

  .mat-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
  }